img {
    height: 400px;
    width: 400px;
    border: solid;
    border-radius: 20px;
}

body {
    text-align: center;
    background-color: black;
    color: white;
    margin: 100;
    background-image:X9oH1cc_d.png ;
}